<style>
    p{
    font-color:blue;
    }
        div{
			min-width:100%;
			min-height:50%;
			box-shadow:2px,2px,10px,0px rgba(0,0,0,0.2);
			background-color:#ffffff;
			border-radius: 50px, 50px, 50px, 50px;
			}
		div.link{
			max-width:25%;
			max-height:10%;
            border: 2px solid black;
			box-shadow:2px,2px,10px,0px rgba(0,0,0,0.2);
			background-color:navy;
			border-radius: 50px, 50px, 50px, 50px;
          }
        h1{
          margin:auto;
          color:red;
          }
      </style>